
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    box-sizing: border-box;
    margin: 0;
    background-color: #fcd1d2;
}

.container {
    display: none;
}

/* section 1 */

.section-1 {
    height: 800px;
    width: 1400px;
}

.cat-image > img {
    height: 800px;
    width: 1400px;
    filter: brightness(50%);
}

.inner-container {
    height: 800px;
    width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

.cat-image {
    height: 800px;
    width: 1400px;
    display: flex;
    position: absolute;
    top: 0px;
    z-index: -1;
}


.navbar {
    display: flex;
    background-color: #fce2e3;
    position: relative;
    justify-content: center;
    align-items: center;
    bottom: 150px;
    opacity: 0.8;
    height: 100px;
    width: 1200px;
    border-radius: 15px;
    animation: animateIn 2.8s ease;
    -webkit-animation: animateIn 2.8s ease;
    -moz-animation: animateIn 2.8s ease;
    -o-animation: animateIn 2.8s ease;
    -ms-animation: animateIn 2.8s ease;
}

@keyframes animateIn {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}


.catcare {
    display: flex;
    position: relative;
    right: 300px;
    width: auto;
}

.menu {
    width: auto;
    gap: 40px;
    display: flex;
    position: relative;
    left: 300px;
}

.call-to-action {
    display: flex;
    height: 250px;
    gap: 10px;
    width: 800px;
    flex-direction: column;
    position: relative;
    top: 100px;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    color: #f5f5f5;
    margin: 0px;
    padding: 0px;
}

.call-to-action > h2 {
    font-size: 1.2rem;
    color: #EFD0D0;
}

.btn {
    width: 150px;
    height: 20px;
    background-color: red;
    height: 30px;
    border-radius: 25px;
    color: #f5f5f5;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(180, 26, 26);
}

#btn-plain {
    background-color: transparent;
    border: 2px solid red;
    opacity: 0.6;
    width: 150px;
    height: 25px;
    border-radius: 10px;
}


#btn-plain:hover {
    border-radius: 7px;
    cursor: pointer;
    background-color: red;
    border-radius: 5px solid black;
}


.dropdown-menu {
    display: none;
}

.hamburger {
    display: none;
}




/* ------ section 2 ------*/


.section-2 {
    height: 400px;
    width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-section-2 {
    height: 350px;
    width: 1350px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box2, .image-box2 > img {
    height: 240px;
    width: 400px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.text-side {
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.text-side > p {
    width: 400px;
}

.image-box2 {
    width: 600px;
    height: 240px;
}




/* ---- section 3 ----- */

.section-3 {
    height: 300px;
    width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-3 {
    display: flex;
    gap: 100px;
    height: 300px;
    width: 1350px;
}

.sec-3-text-side {
    height: 270px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.sec-3-text-side > p, .sec-3-text-side > h2 {
   text-align: left;
   width: 420px;
}

.list-items {
    display: flex;
    height: 180px;
    gap: 50px;
    font-size: 1.5rem;
    background-color: #fce2e3;
}

.left-side-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.right-side-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.star-icon {
    height: 35px;
    display: flex;
    gap: 10px;
    font-size: 1.2rem;
    align-items: center;
}


.star-icon > img {
    height: 24px;
    display: flex;
}

.image-box-4 > img {
    display: flex;
    position: relative;
    top: 25px;
    height: 240px;
    width: 400px;
}

.image-box-4 {
    height: 250px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ------- section-4 ---- */

.section-4 {
    height: 400px;
    width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-background {
    height: 350px;
    width: 1350px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.pricing-box {
    height: 300px;
    background-color: white;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price-title {
    background-color: white;
    width: 80px;
    height: 30px;
    text-align: center;
    border-bottom: 3px solid red;
}

.price {
    width: 80px;
    height: 50px;
    text-align: center;
}

.price-items {
    height: 140px;
    display: flex;
    gap: 20px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.last-item-1 {
    display: none;
}





/* ---- section-5 ----  */

.section-5 {
    height: 250px;
    width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 15px;
}


.white-inner-6 {
    height: 200px;
    width: 1350px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.container-for-3-services {
    height: 120px;
    width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.service-box {
    height: 120px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.service-box > p {
    text-align: center;
}

.svg-circle {
    background-color: #fcd1d2;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}


/* ---footer ---- */

footer {
    height: 300px;
    width: 1400px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0px;
}

.inner-layer {
    height: 240px;
    width: 1400px;
    display: flex;
    gap: 150px;
    padding-left: 25px;
}

.first-box {
    height: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#Book-call-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.second-box {
    display: flex;
    position: relative;
    top: 50px;
    height: 100px;
}

.time > div {
    display: flex;
    height: 18px;
    gap: 15px;
}

.name-of-brand {
    color: red;
}

.third-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
 }   


.fourth-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#services {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

#resources {
    display: flex;
    flex-direction: column;
    gap: 13px;
}


.last-box-line {
    border-top: 3px solid #fcd1d2;
    width: 1000px;
    display: flex;
    justify-content: flex-end;
    color: grey;
    margin: 0px;
    height: 20px;
}







/* -------------- This is the 360px phone screen size ----------- */





@media screen and (max-width: 480px) {
   
    * {
        box-sizing: border-box;
        margin: 0px;
    }
   
    body {
    margin: 0px;
   }

   
.section-1 {
    height: 400px;
    width: 480px;
}

.cat-image > img {
    height: 400px;
    width: 480px;
    filter: brightness(50%);
}

.inner-container {
    height: 400px;
    width: 480px;
    display: flex;
}

.cat-image {
    height: 400px;
    width: 480px;
    display: flex;
    position: absolute;
    top: 0px;
    z-index: -1;
}


.navbar {
 display: none;
}

/* this is the dropdown-menu */
.dropdown-menu {
    display: flex;
}

.hamburger {
    display: flex;
}


.menuItem {
    display: block;
    margin: 1rem 2rem;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
  }
  
  .menuItem:hover {
    text-decoration: underline;
  }
  
  .hamburger {
    position: absolute;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: #fcd1d2 solid 2px;
    background: #EFD0D0;
    cursor: pointer;
  }
  
  .closeIcon {
    display: none;
  }
  
  .dropdown-menu {
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8;
    background: #fce2e3;
    color: white;
    list-style: none;
    padding-top: 4rem;
    height: 320px;
  }
  
  .showMenu {
    transform: translateY(0);
  }



/* the end of the dropdown menu */


.call-to-action {
    height: 150px;
    gap: 5px;
    width: 300px;
    top: 70px;
}

h1 {
    font-size: 1.5rem;
}

.call-to-action > h2 {
    font-size: 0.7rem;
}



.btn:hover {
    background-color: rgb(180, 26, 26);
}

#btn-plain {
    border: 2px solid red;
}




/*---- section 2 ------  */


.section-2 {
    height: 600px;
    width: 480px;
    display: flex;
    flex-direction: column;
}

.inner-section-2 {
    height: 560px;
    width: 270px;
    display: flex;
    flex-direction: column-reverse;
}


.image-box2 {
    height: 240px;
    width: 260px;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box2 > img {
    height: 240px;
    width: 260px;
}


.text-side {
    width: 240px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
} 

.text-side > h2 {
   text-align: center;
   width: 200px;
}

.text-side > p {
    width: 200px;
    text-align: center;
}





/* ---- section 3 ----- */

.section-3 {
    height: 845px;
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-3 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 760px;
    width: 260px;
}

.sec-3-text-side {
    height: 400px;
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.sec-3-text-side > p, .sec-3-text-side > h2 {
   text-align: center;
   width: 260px;
}

.list-items {
    display: flex;
    flex-direction: column;
    height: 300px;
    gap: 10px;
    font-size: 0.9rem;
    background-color: #fce2e3;
}

.left-side-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-side-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.star-icon {
    height: 35px;
    display: flex;
    gap: 10px;
    font-size: 1.2rem;
    background-color: #fdf0f0;
    align-items: center;
}


.star-icon > img {
    height: 20px;
}

.image-box-4 > img {
    display: flex;
    position: relative;
    top: 25px;
    height: 240px;
    width: 260px;
}

.image-box-4 {
    height: 250px;
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* ------- section-4 ---- */

.section-4 {
    height: 1000px;
    width: 480px;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

.white-background {
    height: 950px;
    width: 270px;
    background-color: #fce2e3;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.pricing-box {
    width: 250px;
}



/* ---- section-5 ----  */



.section-5 {
    height: 600px;
    width: 480px;
    display: flex;
    flex-direction: column;
}


.white-inner-6 {
    height: 600px;
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.white-inner-6 > h3 {
   text-align: center;
   width: 200px;
}

.container-for-3-services {
    height: 570px;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.service-box {
    height: 120px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.service-box > p {
    text-align: center;
}

.svg-circle {
    background-color: #fcd1d2;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}



/* ---footer ---- */

footer {
    height: 600px;
    width: 480px;
}

.inner-layer {
    height: 540px;
    width: 290px;
    gap: 20px;
    display: grid;
    grid-template-columns: 150px 110px;
    grid-template-rows: 100px 100px 100px 120px 120px;
}

.first-box {
    height: 120px;
    width: 200px;
    grid-row: 1/1;
    grid-column: 1/2;
}

#Book-call-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.second-box {
    display: flex;
    position: initial;
    grid-row: 2;
    grid-column: 1;
    width: 200px;
    top: 0px;
    height: 100px;
}

.time > div {
    display: flex;
    height: 18px;
    gap: 15px;
}

.name-of-brand {
    color: red;
}

.third-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 120px;
    height: 250px;
    grid-row: 3;
    grid-column: 1/2;
 }   


.fourth-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 85px;
    height: 200px;
    grid-row: 3/4;
    grid-column: 2/3;
}

#services {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

#resources {
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 80px;
}


.last-box-line {
    border-top: 3px solid #fcd1d2;
    width: 240px;
    display: flex;
    justify-content: flex-end;
    color: grey;
    margin: 0px;
    height: 20px;
}

}










/* -------------- This is the 420px phone screen size ----------- */






@media screen and (max-width: 420px) {
   
    * {
        box-sizing: border-box;
        margin: 0px;
    }
   
    body {
    margin: 0px;
   }

   
.section-1 {
    height: 400px;
    width: 420px;
}

.cat-image > img {
    height: 400px;
    width: 420px;
    filter: brightness(50%);
}

.inner-container {
    height: 400px;
    width: 420px;
    display: flex;
}

.cat-image {
    height: 400px;
    width: 420px;
    display: flex;
    position: absolute;
    top: 0px;
    z-index: -1;
}


.navbar {
 display: none;
}



.call-to-action {
    height: 150px;
    gap: 5px;
    width: 240px;
    top: 70px;
}

h1 {
    font-size: 1.5rem;
}

.call-to-action > h2 {
    font-size: 0.7rem;
}



.btn:hover {
    background-color: rgb(180, 26, 26);
}

#btn-plain {
    border: 3px solid red;
}




/*---- section 2 ------  */


.section-2 {
    height: 600px;
    width: 420px;
    display: flex;
    flex-direction: column;
}

.inner-section-2 {
    height: 560px;
    width: 270px;
    display: flex;
    flex-direction: column-reverse;
}


.image-box2 {
    height: 240px;
    width: 260px;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box2 > img {
    height: 240px;
    width: 260px;
}


.text-side {
    width: 240px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
} 

.text-side > h2 {
   text-align: center;
   width: 200px;
}

.text-side > p {
    width: 200px;
    text-align: center;
}





/* ---- section 3 ----- */

.section-3 {
    height: 845px;
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-3 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 760px;
    width: 260px;
}

.sec-3-text-side {
    height: 400px;
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.sec-3-text-side > p, .sec-3-text-side > h2 {
   text-align: center;
   width: 260px;
}

.list-items {
    display: flex;
    flex-direction: column;
    height: 300px;
    gap: 10px;
    font-size: 0.9rem;
    background-color: #fce2e3;
}

.left-side-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-side-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.star-icon {
    height: 35px;
    display: flex;
    gap: 10px;
    font-size: 1.2rem;
    background-color: #fdf0f0;
    align-items: center;
}


.star-icon > img {
    height: 20px;
}

.image-box-4 > img {
    display: flex;
    position: relative;
    top: 25px;
    height: 240px;
    width: 260px;
}

.image-box-4 {
    height: 250px;
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* ------- section-4 ---- */

.section-4 {
    height: 1000px;
    width: 420px;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

.white-background {
    height: 950px;
    width: 270px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.pricing-box {
    width: 250px;
}



/* ---- section-5 ----  */

.section-5 {
    height: 600px;
    width: 420px;
    display: flex;
    flex-direction: column;
}


.white-inner-6 {
    height: 600px;
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.container-for-3-services {
    height: 570px;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.service-box {
    height: 120px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.service-box > p {
    text-align: center;
}

.svg-circle {
    background-color: #fcd1d2;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* ---footer ---- */

footer {
    height: 600px;
    width: 420px;
}

.inner-layer {
    height: 540px;
    width: 290px;
    gap: 20px;
    display: grid;
    grid-template-columns: 150px 110px;
    grid-template-rows: 100px 100px 100px 120px 120px;
}

.first-box {
    height: 100px;
    width: 150px;
    grid-row: 1/1;
    grid-column: 1/2;
}

#Book-call-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.second-box {
    display: flex;
    position: initial;
    grid-row: 2;
    grid-column: 1;
    width: 200px;
    top: 0px;
    height: 100px;
}


}


















/* -------------- This is the 360px phone screen size ----------- */






@media screen and (max-width: 360px) {

.section-1 {
    width: 360px;
}

.cat-image > img {
    /* height: 400px; */
    width: 360px;
}

.inner-container {
    width: 360px;
}

.cat-image {
    width: 360px;
}


.navbar {
 display: none;
}





/*---- section 2 ------  */


.section-2 {
    width: 360px;
}


/*  */





/* ---- section 3 ----- */

.section-3 {
    width: 360px;
}



/* ------- section-4 ---- */

.section-4 {
    height: 1000px;
    width: 360px;
    display: flex;
    flex-direction: column;
}



.pricing-box {
    width: 250px;
}



/* ---- section-5 ----  */

.section-5 {
    width: 360px;
}



/* ---footer ---- */

footer {
    height: 600px;
    width: 360px;
}


}
















/* -------------- This is the 300px phone screen size ----------- */






@media screen and (max-width: 300px) {
   
    /* * {
        box-sizing: border-box;
        margin: 0px;
    }
   
    body {
    background-color: #fce2e3;
    margin: 0px;
   } */

   
.section-1 {
    height: 400px;
    width: 300px;
}

.cat-image > img {
    height: 400px;
    width: 300px;
    filter: brightness(50%);
}

.inner-container {
    height: 400px;
    width: 300px;
    display: flex;
}

.cat-image {
    height: 400px;
    width: 300px;
    display: flex;
    position: absolute;
    top: 0px;
    z-index: -1;
}


.navbar {
 display: none;
}



.call-to-action {
    height: 150px;
    gap: 5px;
    width: 240px;
    top: 70px;
}

h1 {
    font-size: 1.5rem;
}

.call-to-action > h2 {
    font-size: 0.7rem;
}



.btn:hover {
    background-color: rgb(180, 26, 26);
}

#btn-plain {
    border: 3px solid red;
}




/*---- section 2 ------  */


.section-2 {
    height: 600px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.inner-section-2 {
    height: 560px;
    width: 270px;
    display: flex;
    flex-direction: column-reverse;
    /* background-color: aqua; */
}


.image-box2 {
    height: 240px;
    width: 260px;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box2 > img {
    height: 240px;
    width: 260px;
}


.text-side {
    width: 240px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
} 

.text-side > h2 {
   text-align: center;
   width: 200px;
}

.text-side > p {
    width: 200px;
    text-align: center;
}





/* ---- section 3 ----- */

.section-3 {
    height: 845px;
    width: 300px;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-3 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 760px;
    width: 260px;
    /* background-color: azure; */
}

.sec-3-text-side {
    height: 400px;
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    /* background-color: aqua; */
}

.sec-3-text-side > p, .sec-3-text-side > h2 {
   text-align: center;
   width: 260px;
}

.list-items {
    display: flex;
    flex-direction: column;
    height: 300px;
    gap: 10px;
    font-size: 0.9rem;
    /* background-color: #fce2e3; */
}

.left-side-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-side-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.star-icon {
    height: 35px;
    display: flex;
    gap: 10px;
    font-size: 1.2rem;
    background-color: #fdf0f0;
    align-items: center;
}


.star-icon > img {
    height: 20px;
}

.image-box-4 > img {
    display: flex;
    position: relative;
    top: 25px;
    height: 240px;
    width: 260px;
}

.image-box-4 {
    height: 250px;
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* ------- section-4 ---- */

.section-4 {
    height: 1000px;
    width: 300px;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

.white-background {
    height: 950px;
    width: 270px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.pricing-box {
    width: 250px;
}



/* ---- section-5 ----  */

.section-5 {
    height: 600px;
    width: 300px;
    display: flex;
    flex-direction: column;
}


.white-inner-6 {
    height: 600px;
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.container-for-3-services {
    height: 570px;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.service-box {
    height: 120px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.service-box > p {
    text-align: center;
}

.svg-circle {
    background-color: #fcd1d2;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* ---footer ---- */

footer {
    height: 600px;
    width: 300px;
}

.inner-layer {
    height: 540px;
    width: 290px;
    gap: 20px;
    display: grid;
    grid-template-columns: 150px 110px;
    grid-template-rows: 100px 100px 100px 120px 120px;
}

.first-box {
    height: 100px;
    width: 150px;
    grid-row: 1/1;
    grid-column: 1/2;
}

#Book-call-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.second-box {
    display: flex;
    position: initial;
    grid-row: 2;
    grid-column: 1;
    width: 200px;
    top: 0px;
    height: 100px;
}

.time > div {
    display: flex;
    height: 18px;
    gap: 15px;
}

.name-of-brand {
    color: red;
}

.third-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 120px;
    height: 250px;
    grid-row: 3;
    grid-column: 1/2;
 }   


.fourth-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 85px;
    height: 200px;
    grid-row: 3/4;
    grid-column: 2/3;
}

#services {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

#resources {
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 80px;
}


.last-box-line {
    border-top: 3px solid #fcd1d2;
    width: 240px;
    display: flex;
    justify-content: flex-end;
    color: grey;
    margin: 0px;
    height: 20px;
}


}

